* {
    font-family: 'Cormorant Garamond', serif, 'sans serif';
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding: 10px 10px;
}

li a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}